/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #3f3f3f;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;



/************************************
Custom theme colors - Arina 
*************************************/
$hfs-color:         rgba(255, 255, 255, 0.3); /* Header, footer, sidebar, etc sections color */
$brand-color:      	rgba(204, 143, 60, 0.35); /* Color for the brand title in the header, etc. */
$highlight-color:	rgba(14, 185, 0, 0.38); /* Highlight color, e.g. for selected menu items */
$highlight-color-light:	rgba(14, 185, 0, 0.2); 
$highlight-color-mid:	rgba(14, 185, 0, 0.58); 
$highlight-color-dark:	rgba(14, 185, 0, 0.7); 
$highlight-color-opaque:	rgb(14, 185, 0); 

/* Category colors */
$color-category-uncategorized: rgb(245, 221, 255);
$color-category-plant-care: rgb(223, 255, 221);



/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/


/*********************
BACKGROUNDS - Arina
*********************/
$main-background-image: url("../images/backgrounds/purty_wood.png");

